# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# IDE
.vscode/
.idea/
*.iml

# Node / React
node_modules/
frontend/build/
npm-debug.log*

# Ambiente
.env
*.env.local

# Docker override
docker-compose.override.yml

# OS
.DS_Store
Thumbbs.db
